NEXT_PUBLIC_APP_NAME=ShiftFlow
NEXT_PUBLIC_DEFAULT_SOURCE_CHAIN=base
NEXT_PUBLIC_DEFAULT_DEST_CHAIN=arc
NEXT_PUBLIC_ARC_CHAIN_ID=5042002
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_ARC_EXPLORER_URL=https://testnet.arcscan.app
NEXT_PUBLIC_ARC_NETWORK_NAME=Arc Testnet
NEXT_PUBLIC_GIFTARC_CONTRACT=0x92Bd737bA6b7401c79bF9DD79991E4ABe27ddc85
